---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={`About Me | ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<article>
				{AboutHeroImage && (
					<div class="hero-image">
						<img src={AboutHeroImage.src} alt="" />
					</div>
				)}
				<div class="prose">
					<div class="title">
						<h1>About Me</h1>
						<hr />
					</div>
						<p>
						I’m an infrastructure engineer working on cloud, automation, and systems design.
						</p>
						<p>
						My expertise is in building reliable, secure, and observable systems, both on cloud and on-prem. I am comfortable with Linux systems, networking, security, and automation. I have experience with AWS, Azure, and self-managed infrastructure.
						</p>
						<p>
						Outside of work, I run a personal infrastructure where I host services both on-prem and on VPS (Hetzner). I use it for self-hosted services like storage, media, network solutions. Also, it is my playground to experiment, break things, and build them up again properly. 
						You can explore the setup on my <a href="https://github.com/atakan-erdonmez/homelab" target="_blank" rel="noopener">GitHub</a>,
						 or check my <a href="/blog">blog</a>  for more detailed write-ups.
						</p>
						<p>
						Right now, I’m preparing for the AWS Certified Solutions Architect certification and going deeper into infrastructure as code, using tools like Ansible and Terraform. I’m also exploring areas like agentic AI and how it can be integrated into infrastructure workflows. Next on my roadmap is getting more into CI/CD and DevOps.
						</p>
						<p>
						I use this website to document what I build, the decisions behind it, how I approach problems.
						</p>
				</div>
			</article>
		</main>
		<Footer />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 720px;
				margin: 0 auto;
				padding: 3em 1em;
			}
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			hr {
				border-top: 1px solid rgb(var(--gray-light));
				margin-bottom: 1rem;
			}
		</style>
	</body>
</html>
